{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<div class="container py-4">
  <h2 class="text-center fw-bold mb-4">Contact Us</h2>

  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card shadow-sm p-4">
        <form method="POST">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Name *</label>
            <input name="name" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Email *</label>
            <input name="email" type="email" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Phone</label>
            <input name="phone" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Subject</label>
            <input name="subject" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Message *</label>
            <textarea name="message" class="form-control" rows="4" required></textarea>
          </div>

          <button class="btn btn-primary w-100 fw-bold">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
